<div class="shopping-cart_purchase-list">
  <div class="container">
    <div class="purchase-list_close">Close basket &#10060;</div>
    <div class="purchase-list_header">
      <p>There's <span class="purchase-list_items-count"><%-basket.productCount%></span> items in your basket for
        $<span class="purchase-list_total-price"><%-basket.totalValue%></span>
      </p>
    </div>
    <div class="purchase-list_listing">
      <% basket.productsInBasket.forEach(function(product) { %>
      <div class="purchase-list_item">
        <div class="purchase-list_item-img">
          <img src="<%-product.imageURL%>" alt="<%-product.name%>">
        </div>
        <div class="purchase-list_item-info">
          <div class="purchase-list_product-info">
            <div class="purchase-list_item-name"><%-product.name%></div>
            <div class="purchase-list_item-price">$<%-product.price%></div>
          </div>
          <div class="purchase-list_item-count">
            <span>Count:</span>
            <button class="purchase-list_item-count_controls-minus">-</button>
            <div class="purchase-list_item-count_input"><%-product.quantity%></div>
            <button class="purchase-list_item-count_controls-plus">+</button>
          </div>
          <div class="purchase-list_item-total">
            <span>Total:</span>
            <span class="purchase-list_item-total-value">$<%-product.price * product.quantity%></span>
          </div>
        </div>
        <div class="flex-break"></div>
        <a class="purchase-list_item-delete-link" href="#">Delete item</a>
      </div>
      <% }); %>
    </div>
  </div>
</div>